@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    cursor: none;
    display: flex;
    background-color: #637282;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.custom_cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #fffcf2;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
}

.ripple {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fffcf2;
    opacity: 0;
}

.page_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 85vw;
    height: 85vh;
}

.split_bg {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}

.left_bg,
.right_bg {
    height: 100%;
}

.left_bg {
    width: 65%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.inner_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 100%;
    background: url(/assets/media/images/album1.jpg) center/cover no-repeat;
    background-size: cover;
    transition: transform 0.1s ease-out;
    will-change: transform;
}


.right_bg {
    width: 35%;
    background: url(/assets/media/images/album1_left.jpg) center/cover no-repeat;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    pointer-events: none;
}

.navbar .logo label {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
}

.nav_items ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_items ul li {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.15));
}

.nav_items ul li:hover {
    backdrop-filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.25));
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.nav_items li a {
    text-decoration: none;
}

.nav_items ul li a i {
    color: #fff;
    font-size: 1rem;
    padding: 12px;
    border-radius: 4px;
    border: 1.8px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.nav_items ul li a i:hover {
    color: rgba(255, 255, 255, 0.1);
}

.main_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    width: 100%;
    height: 100%;
}

.left,
.right,
.center {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    top: -5%;
    left: 30%;
    height: 300px;
}

.left .main_text .album_name {
    color: #fff;
    font-size: 10rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 8rem;
}

.left .main_text .artist {
    color: #fff;
    font-size: 2rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 800;
    font-style: normal;
    padding-left: 5px;
}

.left .sub_text {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 2px;
}

.right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    overflow: visible;
    position: relative;
}

.right .tracklist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 5%;
    right: -35%;
    max-height: 330px;
    scrollbar-width: none;
    padding-right: 20px;
    overflow-y: auto;
}

.right .tracklist::-webkit-scrollbar {
    display: none;
}

.tracklist .item {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    padding: 14px 18px;
    border-radius: 12px;
    width: 260px;
    transition: transform 0.3s ease;
    list-style: none;
    transform: translateX(100px);
}

.tracklist .item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.tracklist .item .list_items {
    display: flex;
    align-items: center;
    gap: 18px;
}

.tracklist .list_items h3 {
    color: #768290;
    font-family: 'Limelight';
    font-weight: 400;
    font-size: 1.5rem;
}

.tracklist .list_items p {
    color: #fff;
    font-family: monospace;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1px;
}