@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    cursor: none;
    display: flex;
    flex-direction: column;
    background-color: #101214;
}

body::-webkit-scrollbar {
    display: none;
}

.custom_cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #fffcf2;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fffcf2;
    opacity: 0;
}


.bg_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.blob {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #e5383b, #6a040f);
    opacity: 0.3;
    filter: blur(100px);
    z-index: 1;
    animation: float 10s ease-in-out 0.3s infinite;
}

.blob:nth-child(1) {
    top: -5%;
    left: 20%;
}

.blob:nth-child(2) {
    top: 80%;
    left: 80%;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-30px) scale(1.5);
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 3rem;
    padding: 1rem;
    border-bottom: 2px solid #e5383b;
    mask-image: linear-gradient(to right, transparent, #000 2% 98%, transparent);
}

.logo i {
    font-size: 2rem;
    color: #e5383b;
}

.nav_elems ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.nav_elems ul li,
a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fffcf2;
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: none;
}

.nav_elems ul li i {
    color: #e5383b;
    font-size: 12px;
    margin-left: 10px;
}

.nav_elems ul li i:hover {
    color: #c85223;
}

main {
    flex: 1;
}

.album_cover_sec {
    position: relative;
    display: flex;
    top: 3%;
    height: 90vh;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 3rem;
    z-index: 2;
}

.album_cover {
    width: fit-content;
    padding: 10px;
}

.album_cover .img_cont img {
    width: auto;
    height: 450px;
    position: relative;
    z-index: 3;
    object-fit: cover;
}

.album_text {
    width: 700px;
    height: 450px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #807c7e;
    font-family: 'Roboto Flex', sans-serif;
}

.blah {
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
}

.blah h2 {
    font-size: 3rem;
    letter-spacing: 10px;
    margin-bottom: 2rem;
    text-align: center;
}

.main_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: baseline;
}

.main_text .left h3 {
    font-size: 1.4rem;
    letter-spacing: 5px;
    padding-left: 20px;
}

.main_text .left h4 {
    font-size: 1rem;
    letter-spacing: 5px;
    margin-top: 8px;
    padding-left: 20px;
}

.main_text .right h3 {
    font-size: 1rem;
    text-align: right;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.album_btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.album_btns button {
    color: #000;
    background-color: #e5383b;
    border: 2px solid #e5383b;
    padding: 8px 14px;
    font-size: .7rem;
    letter-spacing: 5px;
    margin-left: 10px;
    pointer-events: none;
}

#save {
    background-color: transparent;
    border: 2px solid #e5383b;
    border-radius: 0;
    color: #e5383b;
}

.text_strip {
    width: 100%;
    border-top: 1.1px solid #e5383b;
    border-bottom: 1.1px solid #e5383b;
    background: #e5383b;
    color: #222;
    text-align: center;
    padding: 8px 0;
    font-size: 12px;
    position: absolute;
    bottom: -10%;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    text-shadow: 0 0 3px #e5383b88;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.text_strip p {
    display: inline-block;
    animation: scrollText 20s linear infinite;
    padding-left: 100%;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text_strip:hover p {
    animation-play-state: paused !important;
}

.tracklist_sec {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 3rem;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.blur_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/media/images/album2_vinyl.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: 1;
}

.tracklist_sec .heading, .track_cont {
    position: relative;
    z-index: 2;
}

.track_cont {
    height: 80vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 12px;
}

.track_cont .cont {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
    justify-content: space-between;

}

.track_cont .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin: 0 2rem;
}

.track_cont .left .heading {
    font-family: 'Roboto Flex', sans-serif;
    top: 5%;
    font-size: 1.7rem;
    font-weight: 700;
    color: #f5f3f4;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.track_cont .left .vinyl {
    position: relative;
    bottom: 6%;

}

.track_cont .left .vinyl img {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.track_cont .right {
    padding: 1rem;
    margin-right: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.track_cont .right .list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 500px;
    height: 100%;
    overflow-y: auto;
    font-family: 'Roboto Flex', sans-serif;
    scrollbar-width: 4px;
}

.track_cont .right .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #f5f3f4;
    transition: background 0.3s ease;
    position: relative;
}

.right .items:hover {
    background: rgba(255, 255, 255, 0.05);
}

.right .items .track_num {
    width: 20px;
    text-align: center;
    transition: opacity 0.2s;
    position: relative;
    z-index: 2;
}

.right .items:hover .track_num {
    opacity: 0;
    color: transparent;
    font-size: 0;
}

.right .items::before {
    content: "▶";
    position: absolute;
    left: 1rem;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
}

.right .items:hover::before {
    opacity: 1;
}

.right .items .track_info {
    flex-grow: 1;
    margin-left: 1.5rem;
}

.right .items .track_title {
    font-size: 1rem;
    margin: 0;
}

.right .items .track_time {
    font-size: 0.9rem;
    color: #fffcf2;
    margin: 1rem;
}

.track_cont .right .list::-webkit-scrollbar {
    width: 6px;
}

.track_cont .right .list::-webkit-scrollbar-thumb {
    background-color: #e5383b;
    border-radius: 10px;
}

.track_cont .right .list::-webkit-scrollbar-track {
    background: transparent;
}

footer {
    margin: 0 3rem;
    margin-top: 1.5rem;
    padding: 1rem;
    mask-image: linear-gradient(to right, transparent, #000 2% 98%, transparent);
    border-top: 2px solid #e5383b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    color: #7b7a76;
    font-family: "Roboto Flex", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_logo:hover {
    color: #f5f3f4;
}

.change_theme_btn {
    background: transparent;
    border-radius: 50%;
    border: 1.4px solid #7b7a76;
    cursor: none;
}

.change_theme_btn i {
    color: #7b7a76;
    padding: 8px;
    font-size: .8rem;
}

.change_theme_btn:hover {
    border: 1.4px solid #f5f3f4;
}

.change_theme_btn i:hover {
    color: #f5f3f4;
}