@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width-circle: 150vw;
    --radius: calc(100vw / 6);
}

html,
body {
    background: #101111;
    cursor: none;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.custom_cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #fffcf2;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fffcf2;
    opacity: 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 3rem;
    padding: 1rem;
}

.logo i {
    font-size: 2rem;
    color: #eb5e28;
}

.nav_elems ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.nav_elems ul li,
a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fffcf2;
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: none;
}

.nav_elems ul li i {
    color: #eb5e28;
    font-size: 12px;
    margin-left: 10px;
}

.nav_elems ul li i:hover {
    color: #c85223;
}

.hero_sec {
    max-width: 1200px;
    margin: 2rem auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero_cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.target_img {
    width: 500px;
    height: auto;
    object-fit: contain;
    filter: brightness(0.9);
    max-width: 900px;
}

.target_img:hover {
    transition: filter 0.3s ease;
    transform: translateY(-5px);
    filter: url(#distortFilter);
}

svg {
    position: absolute;
    width: 0;
    height: 0;
}

.hero_text_cont {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
}

.main_text {
    color: #eb5e28;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.8rem;
    pointer-events: none;
}

.sub_text_1 {
    color: #fffcf2;
    font-family: 'Waterfall', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    pointer-events: none;
}

.hero_btn {
    background-color: #eb5e28;
    color: aliceblue;
    padding: 8px 12px;
    border-radius: 2px;
    border: 1.4px solid #eb5e28;
    margin-top: 10px;
    cursor: none;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
}

.hero_btn:hover {
    color: #e66937;
    background: transparent;
    border: 1.4px solid #e66937;
}

.side_cont {
    position: absolute;
    top: 5%;
    bottom: 5%;
    width: 6px;
    opacity: 0.3;
    z-index: 1;
}

.left_line {
    left: 3.5%;
    background: linear-gradient(to bottom, #e66937 10%, transparent 90%);
}

.right_line {
    right: 3.5%;
    background: linear-gradient(to top, #e66937 8%, transparent 90%);
}
.scroll_sec {
    width: 100%;
    height: 100vh;
    background-color: #fffcf2;
    position: relative;
    overflow: hidden;
}

.scroll_wrapper {
    position: relative;
    width: max-content;
    height: 100%;
}

.scroll_wrapper h1 {
    display: inline-block;
    color: #eb5e28;
    font-size: 48vw;
    margin: 1rem 3rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    white-space: nowrap;
}

.overlay_img {
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
    z-index: 2;
}

#album1 { top: 20%; left: 20%; }
#album2 { top: 40%; left: 40%; }
#album3 { top: 25%; left: 60%; }
#album4 { top: 35%; left: 80%; }

.cards_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 1rem 3rem;
}

.cards_cont {
    padding: 1rem;
    margin: 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cards_cont .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    border-radius: 10px;
    border: 1.4px solid rgba(255, 255, 255, 0.05);
    width: 350px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.cards img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    padding: 8px;
    border: 1.4px solid #eee8;
}

.cards h3 {
    color: rgb(109, 106, 106);
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cards .ab_desc {
    font-size: 0.7rem;
    text-align: center;
    color: rgb(109, 106, 106);
    font-family: monospace;
    font-weight: 600;
}

.cards button {
    background: transparent;
    border: 1.4px solid rgb(109, 106, 106);
}

.cards button:hover {
    background: #eb5e28;
    border: 1.4px solid #eb5e28;
}

.cards button a {
    text-decoration: none;
    color: #eb5e28;
    padding: 8px 16px;
    border-radius: 6px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

.cards button a:hover {
    color: rgba(238, 238, 238, 0.66);
}

.text_sec h1 {
    font-size: 3rem;
    font-family: 'Limelight', cursive;
    font-weight: 400;
    font-style: normal;
    color: #eb5e28;
    margin-bottom: 1rem;
}

.footer_cont {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 1rem 2rem;
    border-top: 1px solid #eee8;
}

.footer_wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    pointer-events: none;
}

.footer_logo {
    display: flex;
    gap: 10px;
}

.footer_logo i {
    color: #eb5e28;
    font-size: 1rem;
}

.footer_logo h3 {
    color: #e66937;
    font-size: 1rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.socials a {
    text-decoration: none;
    left: 3%;
}

.socials a i {
    color: #fffcf2;
    font-size: 1rem;
    pointer-events: none;
    margin-left: 10px;
}