@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width-circle: 150vw;
    --radius: calc(100vw / 6);
}

html,
body {
    background: #101111;
    cursor: none;
}

body::-webkit-scrollbar {
    display: none;
}

.custom_cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #fffcf2;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fffcf2;
    opacity: 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 3rem;
    padding: 1rem;
}

.logo i {
    font-size: 2rem;
    color: #eb5e28;
}

.nav_elems ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.nav_elems ul li,
a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fffcf2;
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: none;
}

.nav_elems ul li i {
    color: #eb5e28;
    font-size: 12px;
    margin-left: 10px;
}

.nav_elems ul li i:hover {
    color: #c85223;
}

.hero_sec {
    max-width: 1200px;
    margin: 2rem auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero_cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.target_img {
    width: 500px;
    height: auto;
    object-fit: contain;
    filter: brightness(0.9);
    max-width: 900px;
}

.target_img:hover {
    transition: filter 0.3s ease;
    transform: translateY(-5px);
    filter: url(#distortFilter);
}

svg {
    position: absolute;
    width: 0;
    height: 0;
}

.hero_text_cont {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
}

.main_text {
    color: #eb5e28;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.8rem;
    pointer-events: none;
}

.sub_text_1 {
    color: #fffcf2;
    font-family: 'Waterfall', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    pointer-events: none;
}

.hero_btn {
    background-color: #eb5e28;
    color: aliceblue;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1.4px solid #eb5e28;
    margin-top: 10px;
    cursor: none;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
}

.hero_btn:hover {
    color: #e66937;
    background: transparent;
    border: 1.4px solid #e66937;
}

.side_cont {
    position: absolute;
    top: 5%;
    bottom: 5%;
    width: 6px;
    opacity: 0.3;
    z-index: 1;
}

.left_line {
    left: 3.5%;
    background: linear-gradient(to bottom, #e66937 10%, transparent 90%);
}

.right_line {
    right: 3.5%;
    background: linear-gradient(to top, #e66937 8%, transparent 90%);
}

.slider_sec {
    max-width: 1200px;
    margin: 1rem auto;
    text-align: center;
    justify-content: center;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 570px;
    background-image: radial-gradient(#fff3, transparent 70%);
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: transform .8s;
}

.slider .list .albums {
    width: calc(var(--radius)*2);
    text-align: center;
    transform: rotate(45deg);
    transition: transform 1s, filter 0.5s;
    border: 1px solid #eee5;
    filter: brightness(0.7) saturate(0.8);
    opacity: 0.7;
}

.slider .list .albums.active {
    transform: rotate(0deg);
    filter: brightness(1) saturate(1);
    border: none;
    opacity: 1;
}

.slider .list .albums img {
    width: 60%;
    filter: drop-shadow(0 0 20px #000);
}

.slider .list .albums.active img {
    width: 90%;
    filter: drop-shadow(0 0 20px #000);
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: #fffcf2;
    border: 1px solid #eee8;
    z-index: 15;
    cursor: none;
}

#prev {
    left: 3.5%;
}

#next {
    right: 3.5%;
}

#prev:hover,
#next:hover {
    background-color: #eee5;
}

.slider_btns h3 {
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #eee9;
    left: 3%;
}

.btn_cont {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    left: 3%;
}

.btn_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
}

.main_btn {
    position: relative;
    z-index: 1;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Roboto Flex', sans-serif;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fffcf2;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    cursor: none;
}

.footer_cont {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 1rem 2rem;
    border-top: 1px solid #eee8;
}

.footer_wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    pointer-events: none;
}

.footer_logo {
    display: flex;
    gap: 10px;
}

.footer_logo i {
    color: #eb5e28;
    font-size: 1rem;
}

.footer_logo h3 {
    color: #e66937;
    font-size: 1rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.socials a {
    text-decoration: none;
    left: 3%;
}

.socials a i {
    color: #fffcf2;
    font-size: 1rem;
    pointer-events: none;
    margin-left: 10px;
}

.story_sec {
    position: relative;
    height: 115vh;
    overflow: hidden;
}

#full_gramo svg {
    width: 100%;
    height: auto;
    object-position: center;
    overflow: hidden;
    position: relative;
}

.story_text_cont {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll_text {
    position: absolute;
    opacity: 0;
    font-family: 'Roboto Flex', sans-serif;
    text-transform: uppercase;
}

#text1 {
    top: 20%;
    left: 15%;
    color: #eb5e28;
    font-size: 2rem;
    font-weight: 600;
}

#text2 {
    top: 50%;
    right: 5%;
    color: rgba(43, 41, 41, 0.533);
    font-size: 1rem;
    font-weight: 800;
}

#text3 {
    top: 90%;
    left: 30%;
    color: #e66937;
    font-size: 1.2rem;
    font-weight: 700;
}